<div class="container">
    <div class="col-md-6">
        <h4 class="footer-title">Benutzer</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            {% if(app.user) %}
                <li><a href="{{path('logout')}}" >logout</a></li>
            {% else %}
                <li><a href="{{path('login')}}" >Login</a></li>
            {% endif %}
            <li><a href="{{path('ez_user_register')}}" >Registration</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="footer-title">Externe Links</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            <li><a href="http://leader.ir/" >Leader.ir</a></li>
        </ul>
    </div>
</div>
<div class="footer-down"></div>