<div class="header-top"></div>
<div class="container header-container">
    <div class="name-header">
        {% if(app.user) %}
            Hi {{ez_field_value(app.user.getAPIUser.content,'first_name')}}!<br />
        {% else %}
            Hi!<br/>
        {% endif %}
    </div>
    <div class="links-header">
        
        {% if(app.user) %}
            <div>
                <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span><a href="{{path('application')}}">Bewerbung</a>
            </div>
            <div>
                <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span><a href="{{path('logout')}}" >logout</a>
            </div>
        {% else %}        
            <div>
                <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span><a href="{{path('ez_user_register')}}">Registration</a>
            </div>
            <div>
                <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span><a href="{{path('login')}}" >Login</a>
            </div>
        {% endif %}
    </div>
    <a href="/"><img src="{{ asset('bundles/app/img/logo.png') }}" class="logo img-responsive"></a>
    <div class="header-bottom-border container"></div>
    <!-- <div class="header-bottom container"></div> -->
</div>