{% extends 'AppBundle::pagelayout.html.twig' %}

{% block content %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="event-wrapper">
        <h1>{{ez_content_name(content)}}</h1>
        <div class="event-text">
            {{ ez_render_field( content, "description" ) }}
        </div>
        <h2>Bewerbung für "{{ez_content_name(content)}}"</h2>
        {% if (alreadyApplied) %}
            <h4>You have Already Applied for this Trip on {{alreadyApplied|date('d.m.Y H:i:s')}}</h4>
        {% else %}
            {% if "now"|date('Y-m-d') > ez_field_value( content, "deadline" )|date('Y-m-d')%}
                <h4>Unfortunately the deadline for this trip has passed!</h4>
            {% else %}
                {% if notLoggedIn %}
                    <h4>Please <a href="{{path('login')}}">login</a> here to be able to register for this Trip.</h4>
                {% else %}
                    {{ form_start(form, { 'attr': {'class': 'attendence_form'} },{'method': 'POST'}) }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vorname:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.first_name, {'value' : ez_field_value(user.content,'first_name') }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nachname:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.last_name, {'value' : ez_field_value(user.content,'last_name') }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Geburstag:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.birthday) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vorname des Vaters:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.father_name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Geschlecht:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.gender) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Akademischer Grad:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.degree) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Wissenschaftliche Spezifizierung:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.specification) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Berufstätigkeit:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.job) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Konfession:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.confession) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Staatsangehörigkeit:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.nationality) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Erfahrungen im kulturellen Bereich:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.experience) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sprachkenntnisse:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.language) }}
                        </div>
                    </div>                       
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Aufenthaltserfahrungen im Iran:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.residence_iran) }}
                        </div>
                    </div>      
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Lebenslauf:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.cv) }}
                        </div>
                    </div>  
                    <div class="center container">
                        <button type="submit" class="submit btn btn-primary">Abschicken</button>
                    </div>
                    {{ form_end(form) }}
                    <div id="resultUpdate"></div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}